.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Calculator-container {
  height: 60vmin;
}

.Screen {
  color: #fff;
  background-color: #858694;
  border: 1px solid #d1d1d1;
  text-align: right;
  width: 100%;
}

.Buttons-container {
  height: 100% !important;
  display: flex;
  align-items: stretch;
}

.Buttons {
  color: #000;
  background-color: #e0e0e0;
  border: 1px solid #d1d1d1;
}

.Arithmetic-buttons {
  background-color: #f3903d;
  border: 1px solid #d1d1d1;
}
