.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Calculator-container{
  height: auto;
}

.Screen{
  color: #fff;
  background-color: #858694;
  border: 1px solid #D1D1D1;
  text-align: right;
  padding: 10px;
  width: 100%;
}
.Buttons {
  color: #000;
  background-color: #E0E0E0;
  border: 1px solid #D1D1D1;
}

.Arithmetic-buttons{
  background-color: #F3903D;
  border: 1px solid #D1D1D1;
}